<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav style="width: 100%; height: 100%; position: relative">
        <div style="width: 1500px; height: 50px; left: 0px; top: 0px; position: absolute; background: #252F3D"></div>
        <div style="width: 227px; height: 22px; left: 127px; top: 15px; position: absolute">
            <div style="width: 22px; height: 22px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="width: 18.20px; height: 18.20px; background: white"></div>
            </div>
            <div style="left: 30px; top: 7px; position: absolute; color: white; font-size: 12px; font-family: Manrope; font-weight: 500; text-transform: capitalize; line-height: 12px; word-wrap: break-word">30-DAY SATISFACTION GUARANTEE</div>
        </div>
        <div style="width: 257px; height: 22px; left: 468px; top: 15px; position: absolute">
            <div style="width: 22px; height: 22px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="width: 20.28px; height: 14.10px; background: white"></div>
            </div>
            <div style="left: 30px; top: 7px; position: absolute; color: white; font-size: 12px; font-family: Manrope; font-weight: 500; text-transform: uppercase; line-height: 12px; word-wrap: break-word">Free delivery on orders over $40.00</div>
        </div>
        <div style="width: 192px; height: 22px; left: 847px; top: 15px; position: absolute">
            <div style="width: 22px; height: 22px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="width: 18.33px; height: 16.82px; background: white; border: 0.20px white solid"></div>
            </div>
            <div style="left: 30px; top: 7px; position: absolute; color: white; font-size: 12px; font-family: Manrope; font-weight: 500; text-transform: capitalize; line-height: 12px; word-wrap: break-word">50.000+ HAPPY CUSTOMERS</div>
        </div>
        <div style="width: 209px; height: 22px; left: 1154px; top: 15px; position: absolute">
            <div style="width: 22px; height: 22px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="width: 16.50px; height: 20.54px; background: white"></div>
            </div>
            <div style="left: 30px; top: 7px; position: absolute; color: white; font-size: 12px; font-family: Manrope; font-weight: 500; text-transform: uppercase; line-height: 12px; word-wrap: break-word">100% Money Back Guarantee</div>
        </div>
    </nav>
</body>
</html>